{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
  {% block container%}
      {{ parent() }}
<body>


<section class="dashboard section-padding">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-md-3">

                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="dashboard.html">
                            <i class="fa fa-life-ring"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="contract.html">
                            <i class="fa fa-align-left"></i> <span>Contracts</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i> <span>Jobs</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="jobsposted.html"><i class="fa fa-circle-o"></i> Jobs Posted</a></li>
                            <li><a href="addjob.html"><i class="fa fa-circle-o"></i> Add a Job</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-clone"></i> <span>Proposals</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="your_proposals.html"><i class="fa fa-circle-o"></i> Your Proposals</a></li>
                            <li><a href="other_proposals.html"><i class="fa fa-circle-o"></i> Other Proposals</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="offers.html">
                            <i class="fa fa-file"></i> <span>Offers</span>
                        </a>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-copyright"></i> <span>Companies</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="companylist.html"><i class="fa fa-circle-o"></i> Company List</a></li>
                            <li><a href="addcompany.html"><i class="fa fa-circle-o"></i> Add a Company</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="messages.html">
                            <i class="fa fa-envelope"></i> <span>Messages</span>
                            <span class="pull-right-container">
				  <small class="label pull-right bg-green">4</small>
				</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange"></i> <span>Wallet</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="deposits.html"><i class="fa fa-circle-o"></i> Deposits</a></li>
                            <li><a href="withdrawals.html"><i class="fa fa-circle-o"></i> Withdrawals</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="payment_method.html">
                            <i class="fa fa-dot-circle-o"></i> <span>Payment Method</span>
                        </a>
                    </li>
                    <li>
                        <a href="membership.html">
                            <i class="fa fa-credit-card"></i> <span>Membership</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Job</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="featured_job_list.html"><i class="fa fa-circle-o"></i> Jobs Featured List</a></li>
                            <li><a href="feature_a_job.html"><i class="fa fa-circle-o"></i> Feature a Job</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Profile</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="featured_profiles.html"><i class="fa fa-circle-o"></i> Profile Featured List</a></li>
                            <li><a href="feature_your_profile.html"><i class="fa fa-circle-o"></i> Feature your Profile </a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Company</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="featured_companies.html"><i class="fa fa-circle-o"></i> Companies Featured List</a></li>
                            <li><a href="feature_your_company.html"><i class="fa fa-circle-o"></i> Feature your Companies </a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="editprofile.html">
                            <i class="fa fa-user"></i> <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="profileimage.html">
                            <i class="fa fa-image"></i> <span>Change Profile Image</span>
                        </a>
                    </li>
                    <li>
                        <a href="password.html">
                            <i class="fa fa-lock"></i> <span>Change Password</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-8 col-md-9">

                <div class="job-box">
                    <div class="job-header">
                        <h4>Add Company</h4>
                    </div>
                    <form method="post" id="addform">

                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" name="title" class="form-control" placeholder="Company Name" value=""/>
                        </div>

                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" name="title" class="form-control" placeholder="http://..." value=""/>
                        </div>

                        <div class="form-group">
                            <label>Slogan</label>
                            <input type="text" name="title" class="form-control" placeholder="Slogan" value=""/>
                        </div>

                        <div class="form-group">
                            <label>Size</label>
                            <p>
                                <a href="#" class="unselected">1 - 10</a>
                                <a href="#" class="unselected">10 - 20</a>
                                <a href="#" class="selected">30 - 40</a>
                                <a href="#" class="unselected">50+</a>
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Founded</label>
                            <input type="text" name="title" class="form-control" placeholder="Founded(Year)" value=""/>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="5" placeholder="Provide details for your company."></textarea>
                        </div>

                        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                        <label for="file-1" class="label-file"> <span>Choose a file&hellip;</span></label>
                        <br/>
                        <br/>

                        <button class="kafe-btn kafe-btn-mint-small full-width">Submit</button>
                    </form>
                </div><!-- /.job-box -->

            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
  {% endblock %}