{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
  {% block container%}
      <body>

      <section class="dashboard section-padding">
          <div class="container">
              <div class="row">

                  <div class="col-sm-4 col-md-3">

                      <ul class="sidebar-menu" data-widget="tree">
                          <li>
                              <a href="dashboard.html">
                                  <i class="fa fa-life-ring"></i> <span>Dashboard</span>
                              </a>
                          </li>
                          <li class="active">
                              <a href="contract.html">
                                  <i class="fa fa-align-left"></i> <span>Contracts</span>
                              </a>
                          </li>
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-files-o"></i> <span>Jobs</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="jobsposted.html"><i class="fa fa-circle-o"></i> Jobs Posted</a></li>
                                  <li><a href="addjob.html"><i class="fa fa-circle-o"></i> Add a Job</a></li>
                              </ul>
                          </li>
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-clone"></i> <span>Proposals</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="your_proposals.html"><i class="fa fa-circle-o"></i> Your Proposals</a></li>
                                  <li><a href="other_proposals.html"><i class="fa fa-circle-o"></i> Other Proposals</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="offers.html">
                                  <i class="fa fa-file"></i> <span>Offers</span>
                              </a>
                          </li>
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-copyright"></i> <span>Companies</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="companylist.html"><i class="fa fa-circle-o"></i> Company List</a></li>
                                  <li><a href="addcompany.html"><i class="fa fa-circle-o"></i> Add a Company</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="messages.html">
                                  <i class="fa fa-envelope"></i> <span>Messages</span>
                                  <span class="pull-right-container">
				  <small class="label pull-right bg-green">4</small>
				</span>
                              </a>
                          </li>
                      </ul>

                      <ul class="sidebar-menu" data-widget="tree">
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-exchange"></i> <span>Wallet</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="deposits.html"><i class="fa fa-circle-o"></i> Deposits</a></li>
                                  <li><a href="withdrawals.html"><i class="fa fa-circle-o"></i> Withdrawals</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="payment_method.html">
                                  <i class="fa fa-dot-circle-o"></i> <span>Payment Method</span>
                              </a>
                          </li>
                          <li>
                              <a href="membership.html">
                                  <i class="fa fa-credit-card"></i> <span>Membership</span>
                              </a>
                          </li>
                      </ul>

                      <ul class="sidebar-menu" data-widget="tree">
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-external-link-square"></i> <span>Feature a Job</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="featured_job_list.html"><i class="fa fa-circle-o"></i> Jobs Featured List</a></li>
                                  <li><a href="feature_a_job.html"><i class="fa fa-circle-o"></i> Feature a Job</a></li>
                              </ul>
                          </li>
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-external-link-square"></i> <span>Feature a Profile</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="featured_profiles.html"><i class="fa fa-circle-o"></i> Profile Featured List</a></li>
                                  <li><a href="feature_your_profile.html"><i class="fa fa-circle-o"></i> Feature your Profile </a></li>
                              </ul>
                          </li>
                          <li class="treeview">
                              <a href="#">
                                  <i class="fa fa-external-link-square"></i> <span>Feature a Company</span>
                                  <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                              </a>
                              <ul class="treeview-menu">
                                  <li><a href="featured_companies.html"><i class="fa fa-circle-o"></i> Companies Featured List</a></li>
                                  <li><a href="feature_your_company.html"><i class="fa fa-circle-o"></i> Feature your Companies </a></li>
                              </ul>
                          </li>
                      </ul>

                      <ul class="sidebar-menu" data-widget="tree">
                          <li>
                              <a href="editprofile.html">
                                  <i class="fa fa-user"></i> <span>Edit Profile</span>
                              </a>
                          </li>
                          <li>
                              <a href="profileimage.html">
                                  <i class="fa fa-image"></i> <span>Change Profile Image</span>
                              </a>
                          </li>
                          <li>
                              <a href="password.html">
                                  <i class="fa fa-lock"></i> <span>Change Password</span>
                              </a>
                          </li>
                      </ul>

                  </div>

                  <div class="col-sm-8 col-md-9">

                      <div class="box">
                          <div class="box-header">
                              <h3 class="box-title">Contracts</h3>
                          </div><!-- /.box-header -->
                          <div class="box-body">
                              <div class="table-responsive">
                                  <table id="example1" class="table table-bordered table-hover">
                                      <thead>
                                      <tr>
                                          <th>Freelancer</th>
                                          <th>Job Title</th>
                                          <th>Workroom</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td>
                                              <img src="assets/img/users/1.jpg" class="img-responsive img-circle pull-left" width="50" height="50" alt="Image"/>
                                              <a href="company.html">Anna Morgan</a>
                                          </td>
                                          <td><a href="workroom.html">I need a designer to design a logo & questionnaire for a Nutrition Company</a></td>
                                          <td><a href="workroom.html" class="kafe-btn kafe-btn-mint-small"> Go to Workroom</a></td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <img src="assets/img/users/3.jpg" class="img-responsive img-circle pull-left" width="50" height="50" alt="Image"/>
                                              <a href="company.html">Benjamin Robinson</a>
                                          </td>
                                          <td><a href="workroom.html">Professional writer required</a></td>
                                          <td><a href="workroom.html" class="kafe-btn kafe-btn-mint-small"> Go to Workroom</a></td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <img src="assets/img/users/4.jpg" class="img-responsive img-circle pull-left" width="50" height="50" alt="Image"/>
                                              <a href="company.html">Sean Coleman</a>
                                          </td>
                                          <td><a href="workroom.html">Content Writers Needed</a></td>
                                          <td><a href="workroom.html" class="kafe-btn kafe-btn-mint-small"> Go to Workroom</a></td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <img src="assets/img/users/5.jpg" class="img-responsive img-circle pull-left" width="50" height="50" alt="Image"/>
                                              <a href="company.html">Vanessa Wells</a>
                                          </td>
                                          <td><a href="workroom.html">Website Design</a></td>
                                          <td><a href="workroom.html" class="kafe-btn kafe-btn-mint-small"> Go to Workroom</a></td>
                                      </tr>
                                      </tbody>
                                      <tfoot>
                                      <tr>
                                          <th>Client</th>
                                          <th>Job Title</th>
                                          <th>Freelancer</th>
                                      </tr>
                                      </tfoot>
                                  </table>
                              </div><!-- /.table-responsive -->
                          </div><!-- /.box-body -->
                      </div><!-- /.box -->




                  </div><!-- /.col-md-9 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </section>
  {% endblock %}