{% extends "::base.html.twig" %}

{% block title %}TemplateBundle:Dashboard:Featured-Your-Company{% endblock %}

{% block body %}
<h1>Welcome to the Dashboard:Featured-Your-Company page</h1>
{% endblock %}
