{% extends "::base.html.twig" %}

{% block title %}TemplateBundle:Dashboard:Featured-Your-Profile{% endblock %}

{% block body %}
<h1>Welcome to the Dashboard:Featured-Your-Profile page</h1>
{% endblock %}
